.form-container {
  border: 2px solid #932A98;
  width: 75vw;
  height: min-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.submit-btn {
  color: #fff;
  background-color: #932A98;
  border-radius: 8px;
}

.google-btn {
  color: #932A98;
  border: 2px solid #932A98;
  border-radius: 8px;
}