.login-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 25px;
  border: 2px solid #932A98;
  border-radius: 30px;
  width: 75vw;
  margin: auto;
  padding: 20px 16px;
}

.login-form h1 {
  text-align: center;
  color: rgba(147, 42, 152, 1);
  font-weight: 500;
  font-size: x-large;
}

.login-form input {
  height: 35px;
  width: 260px;
  margin: none;
  border: 1px solid #ccc;
  border-bottom: 1px solid #932A98;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px 10px;
  padding-left: 2rem;
  font-size: 16px;
}

.login-form button {
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 0px;
  background-color: #932A98;
  width: 15px;
}

.login-form input::placeholder {
  padding: 0px;
  font-size: 15px;
}

.login-form div {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
}

.login-form div input[type="checkbox"] {
  margin-right: 10px;
  background-color: #932A98;
  outline: none;
  border: none;
}