header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  place-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen {
  
}