body{
  width: 100vw;
  height: 100vh;
}

div form div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input {
  padding: 1em;
  border: 2px solid #932A98;
  border-radius: 10px;
  outline: none;
}