body{
  width: 100vw;
  height: 100vh;
}

div form div {
  flex-direction: column;
  gap: 1em;
}

div form div,
form {
  display: flex;
}

form {
  border: 2px solid #922a9879;
  border-radius: 2rem;
}

input {
  padding: 1em;
  border: 2px solid #932A98;
  border-radius: 10px;
  outline: none;
}

button {
  background-color: #932A98;
  padding: 1em;
  width: 100%;
  border-radius: 1rem;
  color: white;
  font-size: 0.875em;
}

button:active {
  background-color: #932A98;
  border: 2px solid #932A98;
}