.forgot-div {
  flex-direction: column;
  gap: 1em;
}

.forgot,
.forgot-div {
  display: flex;
}

.forgot {
  border: 2px solid #922a9879;
  border-radius: 2rem;
}

.forgot-input {
  padding: 1em;
  border: 2px solid #932A98;
  border-radius: 10px;
  outline: none;
}

.forgot-btn {
  background-color: #932A98;
  padding: 1em;
  width: 100%;
  border-radius: 1rem;
  color: white;
  font-size: 0.875em;
}

.forgot-btn:active {
  background-color: #932A98;
  border: 2px solid #932A98;
}