body{
  width: 100vw;
  height: 100vh;
}

.form-div {
  flex-direction: column;
  gap: 1em;
}

.form,
.form-div {
  display: flex;
}

.form {
  border: 2px solid #922a9879;
  border-radius: 2rem;
}

.form-input {
  padding: 1em;
  border: 2px solid #932A98;
  border-radius: 10px;
  outline: none;
}

.form-btn {
  background-color: #932A98;
  padding: 1em;
  width: 100%;
  border-radius: 1rem;
  color: white;
  font-size: 0.875em;
}

.form-btn:active {
  background-color: #932A98;
  border: 2px solid #932A98;
}